# =========================
# Python
# =========================
__pycache__/
__pycache__
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Generated Data
# =========================
phase_2/data/embeddings.json

phase_2/evaluation/run_results.json
phase_2/evaluation/eval_results.json
phase_2/evaluation/eval_log.txt
phase_3/vector_store/
phase_4/vector_store/

*.faiss
*.pkl
*.index
# =========================
# Experimental Files
# =========================
testing/