# ===========================
# AI Engineering Learning Journey
# Direct Project Dependencies
# ===========================

# Environment
python-dotenv==1.2.2

# Core Libraries
numpy==2.4.6
requests==2.34.2

# Gemini
google-genai==2.11.0

# LangChain
langchain==1.3.13
langchain-core==1.4.9
langchain-classic==1.0.8
langchain-community==0.4.2
langchain-google-genai==4.2.7
langchain-text-splitters==1.1.2

# Vector Database
faiss-cpu==1.14.3

# Backend
fastapi==0.141.1
uvicorn==0.52.0
pydantic==2.13.4

# External Tool
wikipedia==1.4.0
beautifulsoup4==4.15.0